<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /testpwa/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /testpwa/index.html [L]
</IfModule>